.container.bg-white.rounded-md.mt-5.p-10.max-w-5xl{"data-controller" => "users--onboarding", "data-reflex-permanent" => "true"}
  %h3.text-2xl.m-5 Your Quick Start Guide
  = render partial: "users/pages/getting_started/step_1"
  = render partial: "users/pages/getting_started/step_2"
  = render partial: "users/pages/getting_started/step_3"


