%span.inline-block.py-2.px-4.hover:text-gray-700.no-underline.cursor-pointer Cases
%span.inline-flex.items-center.rounded-full.text-xs.font-medium.bg-z-blue.text-white.mr-2{:class => "px-1.5 py-0.5", "data-cy" => "ungrouped-participants-counter"}
  =@user&.total_cases_with_active_participants&.count
