.flex
  .flex-shrink-0
    %svg.h-5.w-5.text-red-400.hidden#errorIcon{"aria-hidden" => "true", fill: "currentColor", viewbox: "0 0 20 20", xmlns: "http://www.w3.org/2000/svg"}
      %path{"clip-rule" => "evenodd", d: "M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z", "fill-rule" => "evenodd"}
    %svg.h-5.w-5.text-blue-400.hidden#noticeIcon{"aria-hidden" => "true", fill: "currentColor", viewbox: "0 0 20 20", xmlns: "http://www.w3.org/2000/svg"}
      %path{"clip-rule" => "evenodd", d: "M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z", "fill-rule" => "evenodd"}
  .ml-3
    %h3#messageTitle.text-sm.font-medium{"data-users--panel--state-target" => "messageTitle", "data-cy" => "panel-error-title"}
    %p#messageDescription.mt-2.mb-5.text-sm{"data-users--panel--state-target" => "messageDescription", "data-cy" => "panel-error-discription"}
    - if @user.zoom_meeting.start_url_valid?
      %a{href: @user.zoom_meeting&.start_url, id: "startZoomBtn", target: "_blank", class: "hidden px-2 py-2 mb-3 text-sm mx-auto leading-6 text-center text-z-blue transition border border-z-blue rounded-md shadow ripple sm:px-14 hover:shadow-lg focus:outline-none bg-white block"}
        Start Zoom Meeting
        %span{"aria-hidden" => "true"} →
