.max-w-4xl.mx-auto.mt-4.md:mt-32
  .bg-white.pt-36.pb-44.shadow-z.rounded-lg.py-3.mb-10.px-3.md:px-0

    %svg.relative.block.mx-auto{:fill => "none", :height => "80", :viewbox => "0 0 80 80", :width => "80", :xmlns => "http://www.w3.org/2000/svg"}
      %circle{:cx => "40", :cy => "40", :fill => "#1477FB", :opacity => "0.2", :r => "40"}
      %path{:d => "M53.4251 27.7942L34.1632 47.056L26.5749 39.4677L24 42.0427L34.1632 52.2059L56 30.3691L53.4251 27.7942Z", :fill => "#1477FB"}

    %h1.text-lg.md:text-2xl.text-center.font-bold.mt-5.mb-2 Case Completed
    .sub-text.max-w-md.mx-auto
      %p.mb-1.text-center.text-z-gray.font-light.mt-2r.text-md.md:text-xl The host has ended all of the cases you will be part of today.
      %p.mb-1.text-center.text-z-gray.font-light.mt-2r.text-md.md:text-xl Thank you for your participation!
