.max-w-md.mx-auto.mt-5
  .bg-white.shadow-z.rounded-lg.py-5
    %h1.text-xl.text-center.font-bold.mt-10.mb-1 Child Protection Court Room

    .flex.flex-wrap.items-stretch.w-full.mt-4.mb-5.relative.px-8{"data-controller" => "copy-text", "data-copy-text-user-url-value" => "app.xyz.io/r/txcourts-child-protection-court"}

      .bg-z-gray-lightest.overflow-hidden.flex-shrink.flex-grow.flex-auto.leading-9.w-px.flex-1.border.h-10.border-grey-light.px-3.relative.text-z-gray.text-sm.font-light{:type => "text", "data-copy-text-target" => "url", disabled: true} app.xyz.io/r/txcourts-child-protection-court
      .flex.-mr-px
        %span.bg-z-gray-lightest.flex.items-center.leading-normal.rounded.rounded-l-none.border.border-l-0.border-grey-light.px-3.whitespace-no-wrap.text-sm.text-z-gray.cursor-pointer{"data-action"=>"click->copy-text#copyUrl"}
          %svg{:fill => "none", :height => "16", :viewbox => "0 0 12 16", :width => "12", :xmlns => "http://www.w3.org/2000/svg"}
            %path{:d => "M9.84921 1.49846H7.43855C7.16538 0.879473 6.55249 0.47998 5.87585 0.47998C5.19909 0.47998 4.5862 0.879473 4.31303 1.49846H1.90225C0.992874 1.49951 0.255999 2.23651 0.254944 3.14588V13.8326C0.255999 14.742 0.992874 15.4789 1.90225 15.48H9.84921C10.7586 15.4789 11.4956 14.742 11.4966 13.8326V3.14588C11.4956 2.23651 10.7586 1.49951 9.84921 1.49846ZM4.58432 2.24846C4.76034 2.24846 4.91268 2.126 4.95054 1.95385C5.04264 1.53455 5.43182 1.22998 5.87585 1.22998C6.31987 1.22998 6.70894 1.53455 6.80104 1.95385C6.83878 2.126 6.99112 2.24846 7.16737 2.24846H7.91093V2.57752C7.91034 3.07288 7.50898 3.47424 7.01362 3.47483H4.73796C4.24249 3.47424 3.84112 3.07288 3.84053 2.57752V2.24846H4.58432ZM10.7466 13.8326C10.7462 14.328 10.3447 14.7295 9.84921 14.73H1.90225C1.4069 14.7295 1.00553 14.328 1.00494 13.8326V3.14588C1.00553 2.65041 1.4069 2.24905 1.90225 2.24846H3.09053V2.57752C3.09159 3.4869 3.82858 4.22378 4.73796 4.22483H7.01362C7.923 4.22378 8.65988 3.4869 8.66093 2.57752V2.24846H9.84921C10.3447 2.24905 10.746 2.65041 10.7466 3.14588V13.8326Z", :fill => "#8F98B9"}


    %a.mt-4.mb-10.block
      %button.px-5.py-4.mx-auto.block.leading-6.text-center.text-white.transition.bg-z-blue.rounded-md.shadow.ripple.sm:px-14.hover:shadow-lg.hover:bg-z-blue-light.focus:outline-none
        Launch Control Panel
