.max-w-2xl.mx-auto.mt-4.md:mt-12
  %svg.relative.block.mx-auto.mt-4.md:rmt-12{:fill => "none", :height => "98", :viewbox => "0 0 107 98", :width => "107", :xmlns => "http://www.w3.org/2000/svg"}
    %circle{:cx => "47.1392", :cy => "50.8608", :fill => "#1477FB", :opacity => "0.2", :r => "47.1392"}
    %circle{:cx => "83.7342", :cy => "22.3291", :fill => "#1477FB", :opacity => "0.5", :r => "22.3291"}


  %h1.text-lg.md:text-2xl.text-center.font-bold.mt-4.mb-1 Child Protection Court Room - Waiting Room
  %p.text-center.text-z-gray.font-light.mt-2r.text-md.md:text-xl Waiting for the host to start the hearing for case number 5LK1P.

  .z-video.mt-5.mb-10.max-w-xl.mx-auto.md:mb-20
    .rounded-md.overflow-hidden
      = image_tag('ui_components/video-placeholder.png')

    .settings.w-max.mx-auto.block.relative.-mt-20
      %svg.relative.inline-block.mx-2{:fill => "none", :height => "60", :viewbox => "0 0 60 60", :width => "60", :xmlns => "http://www.w3.org/2000/svg"}
        %circle{:cx => "30", :cy => "30", :fill => "#FA6949", :opacity => "0.9", :r => "30"}
        %g{"clip-path" => "url(#clip0)"}
          %path{:d => "M37.7751 21.7139C37.6477 21.6044 37.4906 21.5497 37.3376 21.5497C37.155 21.5497 36.9681 21.6255 36.8364 21.7729L22.1659 38.21C21.9238 38.4838 21.9493 38.8965 22.2254 39.1365C22.3528 39.246 22.5099 39.3008 22.6628 39.3008C22.6671 39.3008 22.6671 39.3008 22.6713 39.3008C22.854 39.2966 23.0324 39.225 23.164 39.0776L37.8346 22.6404C38.0767 22.3667 38.0512 21.954 37.7751 21.7139Z", :fill => "white"}
          %path{:d => "M29.6287 36.9888V38.7155H27.2247C26.8679 38.7155 26.5791 39.0018 26.5791 39.3556C26.5791 39.7094 26.8679 39.9957 27.2247 39.9957H33.324C33.6808 39.9957 33.9696 39.7094 33.9696 39.3556C33.9696 39.0018 33.6808 38.7155 33.324 38.7155H30.92V36.9888C34.4963 36.6645 37.3081 33.6744 37.3081 30.0399C37.3081 29.6862 37.0192 29.3998 36.6625 29.3998C36.3057 29.3998 36.0168 29.6862 36.0168 30.0399C36.0168 33.1774 33.4429 35.7338 30.2743 35.7338C29.3824 35.7338 28.5372 35.5316 27.7854 35.1694L26.9019 36.1591C27.7259 36.6098 28.6518 36.8961 29.6287 36.9888Z", :fill => "white"}
          %path{:d => "M24.5358 30.0399C24.5358 29.6862 24.247 29.3998 23.8902 29.3998C23.5335 29.3998 23.2446 29.6862 23.2446 30.0399C23.2446 31.5897 23.7586 33.0258 24.625 34.184L25.5043 33.1985C24.8926 32.2931 24.5358 31.2065 24.5358 30.0399Z", :fill => "white"}
          %path{:d => "M33.1284 30.04C33.1284 31.5982 31.8499 32.8659 30.2784 32.8659C30.1382 32.8659 30.0023 32.8574 29.8707 32.8364L28.9065 33.9187C29.3355 34.0703 29.7985 34.1503 30.2784 34.1503C32.5635 34.1503 34.4239 32.3057 34.4239 30.04V27.7364L33.1284 29.1851V30.04Z", :fill => "white"}
          %path{:d => "M27.4285 30.04V24.1103C27.4285 22.5521 28.7069 21.2845 30.2785 21.2845C31.85 21.2845 33.1285 22.5521 33.1285 24.1103V24.6578L34.3432 23.2975C33.961 21.4192 32.2832 20 30.2785 20C27.9934 20 26.133 21.8446 26.133 24.1103V30.04C26.133 30.7307 26.3071 31.3834 26.613 31.9562L27.5601 30.8949C27.4752 30.6254 27.4285 30.339 27.4285 30.04Z", :fill => "white"}
        %defs
          %clippath#clip0
            %rect{:fill => "white", :height => "20", :transform => "translate(22 20)", :width => "16"}

      %svg.relative.inline-block.mx-2{:fill => "none", :height => "60", :viewbox => "0 0 60 60", :width => "60", :xmlns => "http://www.w3.org/2000/svg"}
        %circle{:cx => "30", :cy => "30", :fill => "white", :r => "30"}
        %path{:d => "M39.7289 24.7585C39.5509 24.6526 39.3306 24.6483 39.1484 24.7458L34.8772 27.0763V25.8814C34.8772 24.6398 33.8645 23.6271 32.623 23.6271H22.2416C21.0001 23.6271 19.9874 24.6398 19.9874 25.8814V34.1187C19.9874 35.3602 21.0001 36.3729 22.2416 36.3729H32.6272C33.8687 36.3729 34.8814 35.3602 34.8814 34.1187V32.9492L39.1526 35.2797C39.3348 35.3771 39.5552 35.3729 39.7331 35.267C39.9111 35.161 40.017 34.9704 40.017 34.767V25.2585C40.0128 25.0551 39.9026 24.8644 39.7289 24.7585ZM38.8433 26.2458V33.7797L34.8772 31.6144V28.411L38.8433 26.2458ZM22.2416 24.7966H32.6272C33.2247 24.7966 33.7119 25.2839 33.7119 25.8814V34.1187C33.7119 34.7161 33.2247 35.2034 32.6272 35.2034H22.2416C21.6441 35.2034 21.1569 34.7161 21.1569 34.1187V25.8814C21.1569 25.2839 21.6399 24.7966 22.2416 24.7966Z", :fill => "#8F98B9"}
