.max-w-full.mx-auto.mt-5
  .bg-white.shadow-z.rounded-lg.py-3
    %h1.text-xl.text-center.font-bold.mt-4.mb-8 xyz Colors
    .z-colors.p-2.grid.grid-cols-1.gap-3.sm:grid-cols-2.md:grid-cols-4.xl:grid-cols-6
      %div
        .mx-full
          .h-24.w-24.cursor-pointer.mb-5.mx-auto.relative
            .h-full.w-full.absolute.inset-0.bg-z-red.opacity-25.rounded-lg.shadow-2xl
            .h-full.w-full.absolute.inset-0.transform.hover:scale-75.transition.duration-300
              .h-full.w-full.bg-z-red.rounded-lg.shadow-2xl
        .info.text-xs
          .block.mx-2
            .px-1.py-1.text-z-dark-gray.font-semibold.inline-block Tailwind Class:
            .inline-block.text-gray-700 z-red
          .block.mx-2
            .px-1.py-1.text-z-dark-gray.font-semibold.inline-block Color Hex:
            .inline-block.text-gray-700 #FA6949
      %div
        .mx-full
          .h-24.w-24.cursor-pointer.mb-5.mx-auto.relative
            .h-full.w-full.absolute.inset-0.bg-z-red-light.opacity-25.rounded-lg.shadow-2xl
            .h-full.w-full.absolute.inset-0.transform.hover:scale-75.transition.duration-300
              .h-full.w-full.bg-z-red-light.rounded-lg.shadow-2xl
        .info.text-xs
          .block.mx-2
            .px-1.py-1.text-z-dark-gray.font-semibold.inline-block Tailwind Class:
            .inline-block.text-gray-700 z-red-light
          .block.mx-2
            .px-1.py-1.text-z-dark-gray.font-semibold.inline-block Color Hex:
            .inline-block.text-gray-700 #FB876D
      %div
        .mx-full
          .h-24.w-24.cursor-pointer.mb-5.mx-auto.relative
            .h-full.w-full.absolute.inset-0.bg-z-red-dark.opacity-25.rounded-lg.shadow-2xl
            .h-full.w-full.absolute.inset-0.transform.hover:scale-75.transition.duration-300
              .h-full.w-full.bg-z-red-dark.rounded-lg.shadow-2xl
        .info.text-xs
          .block.mx-2
            .px-1.py-1.text-z-dark-gray.font-semibold.inline-block Tailwind Class:
            .inline-block.text-gray-700 z-red-dark
          .block.mx-2
            .px-1.py-1.text-z-dark-gray.font-semibold.inline-block Color Hex:
            .inline-block.text-gray-700 #F8350A
      %div
        .mx-full
          .h-24.w-24.cursor-pointer.mb-5.mx-auto.relative
            .h-full.w-full.absolute.inset-0.bg-z-blue.opacity-25.rounded-lg.shadow-2xl
            .h-full.w-full.absolute.inset-0.transform.hover:scale-75.transition.duration-300
              .h-full.w-full.bg-z-blue.rounded-lg.shadow-2xl
        .info.text-xs
          .block.mx-2
            .px-1.py-1.text-z-dark-gray.font-semibold.inline-block Tailwind Class:
            .inline-block.text-gray-700 z-blue
          .block.mx-2
            .px-1.py-1.text-z-dark-gray.font-semibold.inline-block Color Hex:
            .inline-block.text-gray-700 #1477FB
      %div
        .mx-full
          .h-24.w-24.cursor-pointer.mb-5.mx-auto.relative
            .h-full.w-full.absolute.inset-0.bg-z-blue-light.opacity-25.rounded-lg.shadow-2xl
            .h-full.w-full.absolute.inset-0.transform.hover:scale-75.transition.duration-300
              .h-full.w-full.bg-z-blue-light.rounded-lg.shadow-2xl
        .info.text-xs
          .block.mx-2
            .px-1.py-1.text-z-dark-gray.font-semibold.inline-block Tailwind Class:
            .inline-block.text-gray-700 z-blue-light
          .block.mx-2
            .px-1.py-1.text-z-dark-gray.font-semibold.inline-block Color Hex:
            .inline-block.text-gray-700 #4392FC
      %div
        .mx-full
          .h-24.w-24.cursor-pointer.mb-5.mx-auto.relative
            .h-full.w-full.absolute.inset-0.bg-z-blue-dark.opacity-25.rounded-lg.shadow-2xl
            .h-full.w-full.absolute.inset-0.transform.hover:scale-75.transition.duration-300
              .h-full.w-full.bg-z-blue-dark.rounded-lg.shadow-2xl
        .info.text-xs
          .block.mx-2
            .px-1.py-1.text-z-dark-gray.font-semibold.inline-block Tailwind Class:
            .inline-block.text-gray-700 z-blue-dark
          .block.mx-2
            .px-1.py-1.text-z-dark-gray.font-semibold.inline-block Color Hex:
            .inline-block.text-gray-700 #045DD5
      %div
        .mx-full
          .h-24.w-24.cursor-pointer.mb-5.mx-auto.relative
            .h-full.w-full.absolute.inset-0.bg-z-gray-lightest.opacity-25.rounded-lg.shadow-2xl
            .h-full.w-full.absolute.inset-0.transform.hover:scale-75.transition.duration-300
              .h-full.w-full.bg-z-gray-lightest.rounded-lg.shadow-2xl
        .info.text-xs
          .block.mx-2
            .px-1.py-1.text-z-dark-gray.font-semibold.inline-block Tailwind Class:
            .inline-block.text-gray-700 z-gray-lightest
          .block.mx-2
            .px-1.py-1.text-z-dark-gray.font-semibold.inline-block Color Hex:
            .inline-block.text-gray-700 #F7F9FB
      %div
        .mx-full
          .h-24.w-24.cursor-pointer.mb-5.mx-auto.relative
            .h-full.w-full.absolute.inset-0.bg-z-gray-light.opacity-25.rounded-lg.shadow-2xl
            .h-full.w-full.absolute.inset-0.transform.hover:scale-75.transition.duration-300
              .h-full.w-full.bg-z-gray-light.rounded-lg.shadow-2xl
        .info.text-xs
          .block.mx-2
            .px-1.py-1.text-z-dark-gray.font-semibold.inline-block Tailwind Class:
            .inline-block.text-gray-700 z-gray-light
          .block.mx-2
            .px-1.py-1.text-z-dark-gray.font-semibold.inline-block Color Hex:
            .inline-block.text-gray-700 #EFF2F9
      %div
        .mx-full
          .h-24.w-24.cursor-pointer.mb-5.mx-auto.relative
            .h-full.w-full.absolute.inset-0.bg-z-gray.opacity-25.rounded-lg.shadow-2xl
            .h-full.w-full.absolute.inset-0.transform.hover:scale-75.transition.duration-300
              .h-full.w-full.bg-z-gray.rounded-lg.shadow-2xl
        .info.text-xs
          .block.mx-2
            .px-1.py-1.text-z-dark-gray.font-semibold.inline-block Tailwind Class:
            .inline-block.text-gray-700 z-gray
          .block.mx-2
            .px-1.py-1.text-z-dark-gray.font-semibold.inline-block Color Hex:
            .inline-block.text-gray-700 #8F98B9
      %div
        .mx-full
          .h-24.w-24.cursor-pointer.mb-5.mx-auto.relative
            .h-full.w-full.absolute.inset-0.bg-z-green.opacity-25.rounded-lg.shadow-2xl
            .h-full.w-full.absolute.inset-0.transform.hover:scale-75.transition.duration-300
              .h-full.w-full.bg-z-green.rounded-lg.shadow-2xl
        .info.text-xs
          .block.mx-2
            .px-1.py-1.text-z-dark-gray.font-semibold.inline-block Tailwind Class:
            .inline-block.text-gray-700 z-green
          .block.mx-2
            .px-1.py-1.text-z-dark-gray.font-semibold.inline-block Color Hex:
            .inline-block.text-gray-700 #37CB4C
      %div
        .mx-full
          .h-24.w-24.cursor-pointer.mb-5.mx-auto.relative
            .h-full.w-full.absolute.inset-0.bg-z-green-light.opacity-25.rounded-lg.shadow-2xl
            .h-full.w-full.absolute.inset-0.transform.hover:scale-75.transition.duration-300
              .h-full.w-full.bg-z-green-light.rounded-lg.shadow-2xl
        .info.text-xs
          .block.mx-2
            .px-1.py-1.text-z-dark-gray.font-semibold.inline-block Tailwind Class:
            .inline-block.text-gray-700 z-green-light
          .block.mx-2
            .px-1.py-1.text-z-dark-gray.font-semibold.inline-block Color Hex:
            .inline-block.text-gray-700 #5FD570
      %div
        .mx-full
          .h-24.w-24.cursor-pointer.mb-5.mx-auto.relative
            .h-full.w-full.absolute.inset-0.bg-z-green-dark.opacity-25.rounded-lg.shadow-2xl
            .h-full.w-full.absolute.inset-0.transform.hover:scale-75.transition.duration-300
              .h-full.w-full.bg-z-green-dark.rounded-lg.shadow-2xl
        .info.text-xs
          .block.mx-2
            .px-1.py-1.text-z-dark-gray.font-semibold.inline-block Tailwind Class:
            .inline-block.text-gray-700 z-green-dark
          .block.mx-2
            .px-1.py-1.text-z-dark-gray.font-semibold.inline-block Color Hex:
            .inline-block.text-gray-700 #2BA43C
