%div{class: "rounded-md bg-red-50 p-4 mb-2 max-w-xl mx-auto sm:mt-10"}
  %h1.text-center.font-medium.text-red-800.mb-5.text-xl
    Registration page disabled
  %p.text-center.font-regular.text-red-800.text-lg
    We are sorry but this registration page has been disabled.
    %br
    If you are the owner please log in for more information.