%div{class: "max-w-xl mx-auto sm:mt-10"}
  .mb-2
    %h1{class:"text-2xl text-center font-bold mb-1 mt-6 sm:mt-12"}
      We are sorry but your browser is not supported. Please try to access with one of the following supported browsers:

    %ul.mt-12
      %li.text-2xl.text-center.mt-6.text-z-blue
        =link_to "Google Chrome", "https://www.google.com/chrome/"
      %li.text-2xl.text-center.mt-6.text-z-blue
        =link_to "Mozilla Firefox", "https://www.mozilla.org/en-US/firefox/new/"
      %li.text-2xl.text-center.mt-6.text-z-blue
        =link_to "Microsoft Edge", "https://www.microsoft.com/en-us/edge"
      %li.text-2xl.text-center.mt-6.text-z-blue
        =link_to "Safari", "https://support.apple.com/downloads/safari"
