#control-panel.min-h-screen.bg-white{
  "data-controller" => "users--panel--state users--panel--view-only-panel",
  "data-users--panel--state-zoom-meeting-title-value" => @zoom_meeting_title,
  "data-users--panel--view-only-panel-zoom-meeting-status-value" => @zoom_meeting_status,
  "data-cy" => "view-only-panel"
}
  - if @user.panel.sharing_enabled?
    #sharedPanel
      = render partial: "panel"

  #sharingDisabledMessage.rounded-md.p-4.mx-10.my-5.bg-blue-50{class: "#{@user.panel.sharing_enabled? ? 'hidden' : ''}"}
    .flex
      .flex-shrink-0
        %svg.h-5.w-5.text-blue-400#noticeIcon{"aria-hidden" => "true", fill: "currentColor", viewbox: "0 0 20 20", xmlns: "http://www.w3.org/2000/svg"}
          %path{"clip-rule" => "evenodd", d: "M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z", "fill-rule" => "evenodd"}
      .ml-3
        .text-blue-800
          Panel sharing is disabled
