.z-background.fixed
  %svg.fixed{:fill => "none", :height => "267", :viewbox => "0 0 270 267", :width => "270", :xmlns => "http://www.w3.org/2000/svg"}
    %circle{:cx => "136.084", :cy => "133.125", :fill => "#1477FB", :opacity => "0.03", :r => "94.1335", :transform => "rotate(45 136.084 133.125)"}
    %circle{:cx => "67.8677", :cy => "68.6003", :fill => "#1477FB", :opacity => "0.04", :r => "47.9896", :transform => "rotate(45 67.8677 68.6003)"}
  %svg.fixed.right-0.bottom-0{:fill => "none", :height => "472", :viewbox => "0 0 238 472", :width => "238", :xmlns => "http://www.w3.org/2000/svg"}
    %circle{:cx => "101.187", :cy => "325.781", :fill => "#1477FB", :opacity => "0.02", :r => "71.5502", :transform => "rotate(45 101.187 325.781)"}
    %circle{:cx => "237.594", :cy => "235.891", :fill => "#1477FB", :opacity => "0.03", :r => "166.8", :transform => "rotate(45 237.594 235.891)"}
