%span.inline-block.py-2.px-4.hover:text-gray-700.no-underline.cursor-pointer Participants
%span.inline-flex.items-center.rounded-full.text-xs.font-medium.bg-z-blue.text-white{:class => "px-1.5 py-0.5", "data-cy" => "ungrouped-participants-counter"}
  =@user.ungrouped_available_participants.count
